---
layout: default
---

<div class="columns is-centered mt-4">
	<div class="column is-three-quarters">
    <div class="box px-8 py-4">
			<img src="/images/me.jpeg" alt="Me in a jacket" width="300" height="300">
		</div>
	</div>
</div>

	{{ content }}