<nav class="main-nav navbar has-background-primary">
  <div class="navbar-brand">
      <a class="navbar-item has-text-white" href="/">
        <h1>Collin Jilbert</h1>
      </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item has-text-white" href="/about">About</a>
      <a class="navbar-item has-text-white" href="/posts">Posts</a>
    </div>
  </div>
</nav>
